<h3><%= "Followers (#{@followingcount})" %></h3>
<% @followingobjects.each do |ar| %>
<%= link_to ar.username, user_path(ar) %><br>
<% end %>
<br>
<br>
<h3><%= "Following (#{@followercount})" %></h3>
<% @followerobjects.each do |pr| %>
<%= link_to pr.username, user_path(pr) %><br>
<% end %>
