<h1>Welcome to Hike Candy!</h1>
<%=link_to "Sign Up", signup_path%><br>
<%=link_to "Login", login_path%>

<div style = "background-image: url('http://www.wallpapers13.com/wp-content/uploads/2016/10/Diablo-Lake-in-Washington-State-USA-Forest-Mountains-green-pine-trees-lake-water-turquoise-blue-mist-fume-beautiful-HD-Desktop-Wallpaper-1920x1080.jpg') no-repeat center center fixed;">is there anything displaying
</div>
