@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

button.logout {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: green;
}


button.logout:hover {
  background-color: blue;
}

.font {
  font-family: dancing script;
}

.navbar {
  border-style:solid;
  border-color: transparent;
  color: black;
  background-color: transparent;
  height: 30px;
  margin-top: 25px;
  font-size: 25px;
  font-family: dancing script;
  text-align: center;
}

/* .links {
  text-decoration: none;
} */

hr {
width: 60%;
margin-left: auto;
margin-right: auto;
color: white;
}

.login {
  text-align: center;
}

.form {
  text-align: center;
}


a {
  text-decoration: none;
  color: black;
}

#tree {
  size: 60px;
  font-size: 60px;
  color: black;
}
.feed {
  margin: 20px;
  color: black;
  font-size: 25px;
  font-family: dancing script;
}
.feed_title {
  color: black;
  font-size: 70px;
  font-family: dancing script;
}

.feed_words {
  color: black;
  font-size: 40px;
  font-family: dancing script;
}

.post_title {
  color: black;
  font-size: 40px;
  font-family: dancing script;
}

.post_title_ind {
  color: black;
  font-size: 30px;
  font-family: dancing script;
}

.post_details {
  color: black;
  font-size: 25px;
  font-family: dancing script;
}

body {
 background-image: url('https://images.pexels.com/photos/414528/pexels-photo-414528.jpeg?cs=srgb&dl=clouds-dawn-environment-414528.jpg&fm=jpg');
 background-color: white;
 background-size: cover;
}

.background {
  text-align: center;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  background-position: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

p.comment_author {
  font-size: 14px;
  font-weight: bold;
}

p.comment {
  font-size: 18px;
}

.login {
  text-align: center;
}

.welcome {
  text-align: center;
}

.signup {
  text-align: center;
}

.backgroundbox {
  text-align: center;
  background-color: white;
  background-size: 50%;
}


a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: green;
}

.trip_post_text {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

h4.error_explanation{
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: bold;
}
