@import "font-awesome";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

button.logout {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: green;
}

button.logout:hover {
  background-color: blue;
}

.navbar {
  border-style:solid;
  border-color: black;
  color: white;
  background-color: black;
}

.navtext {
  color: white;
}

.links {
  text-decoration: none;
}

a {
  text-decoration: none;
}

#tree {
  size: 40px;
  font-size: 40px;
  color: green;
}
#feed {
  border-style:solid;
  border-color: black;
  margin: 20px;
}

body {
 background-image: url('https://images.pexels.com/photos/414528/pexels-photo-414528.jpeg?cs=srgb&dl=clouds-dawn-environment-414528.jpg&fm=jpg');
 background-color: white;
 background-size: cover;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

.login {
  text-align: center;
}

.welcome {
  text-align: center;
}

.signup {
  text-align: center;
}
