<div class='background'>
<% @trips.each do |trip| %>
<div class='feed_words'><%= link_to "#{trip.title}", trip%></div>
<div class='post_details'><%= "(#{trip.rating}) - #{trip.content}..."%></div>
<br><br>
<% end %>
</div>
